---
import { type CollectionEntry } from "astro:content";
import ArrowRight from "#icons/ArrowRight.astro";
import FormattedDate from "./FormattedDate.astro";
import { withBase } from "#utils/helpers.ts";

type Props = {
  post: CollectionEntry<"blogs">;
  class?: string;
  headingLevel?: "h2" | "h3";
};

const { post, class: className, headingLevel = "h2" } = Astro.props;
const { title, pubDate, description } = post.data;
const TitleTag = headingLevel;
---

<a
  class:list={["group flex items-start justify-between gap-8", className]}
  href={withBase("/blog/" + post.id)}
>
  <div class="grow">
    <TitleTag class="sigmar-ff">{title}</TitleTag>
    <FormattedDate date={pubDate} />
    {description && <p>{description}</p>}
  </div>
  <div
    class="hidden opacity-0 transition group-hover:opacity-100 sm:inline-flex sm:shrink-0 sm:items-center sm:gap-4 sm:self-center"
  >
    Read Post <ArrowRight class="h-4 w-4 fill-current" />
  </div>
</a>
